<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<img src="/images/logo.png" alt="" id="logo">
			<div class="contact">contact me</div>
		</div>
		<div class="banner">
			<div class="title">
				<h1>WD</h1>
				<p>web developer</p>
			</div>
		</div>
		<div class="list">
			<div class="head">
				<h1>design&code</h1>
			</div>
			<div class="icon">
				<ul>
					<li>
						<img src="/images/icon1.png" alt="">
					</li>
					<li>
						<img src="/images/icon2.png" alt="">
					</li>
					<li>
						<img src="/images/icon3.png" alt="">
					</li>
				</ul>
			</div>
			<div class="info">
				<div class="left">
					<img src="/images/me.png" alt="">
				</div>
				<div class="right">
					<p>中国传媒大学动画学院15级数字媒体艺术
					  （网络媒体设计方向）略懂代码、设计，
					   喜欢打游戏。
					</p>
				</div>
			</div>
			<div class="footer">
				<p>design & code by Wang Dong</p>
				<p>中国传媒大学动画学院15数媒网络</p>
				<p>e-mail:wd951230@gmail.com</p>
			</div>
		</div>
	</div>
</body>
</html>